{{#each vare}}
    <a data-enhed="{{this.enhed}}" data-id="{{this._id}}" data-varekategori="{{wrapKategori this.varekategori}}" data-beskrivelse="{{this.beskrivelse}}" data-field="{{this.pris}}" class="list-group-item">{{this.navn}}</a>
{{/each}}
